.slideshow {
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 458px;
    width: 350px;
    box-shadow: 0px 0px 10px gray;
    position: absolute;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.slide-bild {
    border: 2px solid #a52a2a;
    border-radius: 12px;
    height: 453px;
    width: 346px;
    box-shadow: 0px 0px 10px gray; /* Horizontal, Vertikale, Schatten, Farbe */
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    user-select: none;
    cursor: pointer;
    color: #a52a2a;
}

.pfeil:hover {
    color: orange;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none; /* Aufzählung ausgeschaltet */
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #a52a2a;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer; /* Anzeige */
    opacity: 0.5; /* Deckkraft */
}

.aktiv {
    opacity: 1;
}